.fundraising-table {
  border-collapse: collapse;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 15px;
  margin: 2%;
  margin-top: 0%;
  background-color: #f2ecf9;
}

tr {
  border: solid;
  border-width: 1px 0;
  border-bottom-width: 0;
  color: lightgray;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1%;
}

th {
  color: purple;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  width: 50%;
  text-align: center;
  font-size: 1.3rem;
}

td {
  color: purple;
  width: 50%;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 15px;
  font-size: 1.1rem;
  text-align: center;
  text-overflow: clip;
  white-space: initial;
}

table {
  border-collapse: collapse;
  width: 100%;
}