.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #cc99ff;
  }

  .event-title {
    font-size: 3rem;
    color: #9900cc;
    margin: 3rem 0;
  }
  
  .event-icon {
    width: 6rem;
    height: 6rem;
    margin: 2rem;
  }
  