.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f2ecf9;
  }

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f2ecf9;
  }


  .event-title {
    font-size: 3rem;
    color: #660066;
    margin: 3rem 0;
    text-align: center;
  }

  .event-icon {
    width: 6rem;
    height: 6rem;
    margin: 2rem;
  }
  
  .button {
    background-color: #660066;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
  }
  