.scoreboard-container {
  background-color: #f5f9fc;
  margin:0px;
  height:100vh;
}

.event-title {
  font-size: 3rem;
  color: purple;
  margin: 3rem 0;
}

.event-icon {
  width: 6rem;
  height: 6rem;
  margin: 2rem;
}

.tables-container {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}

.table-title {
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #660066;
}

.total-fundraising-table {
  width: 45%;
}

.total-fundraising-table table {
  width: 100%;
  border-collapse: collapse;
}

.total-fundraising-table th,
.total-fundraising-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.total-fundraising-table th {
  color: purple;
  font-weight: bold;
}

.total-fundraising-table tr:last-child td {
  border-bottom: none;
}

.row {
  display: flex;
}